.photo-grid {
    margin: auto;
    margin-top: 92px;
    max-width: 92.5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 90.625%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        margin-top: 88px;
        max-width: 93.75%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        margin-top: 64px;
        max-width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        gap: 12px;
    }
}