.intro__list {
    margin: 0;
    margin-top: 33px;
    padding: 0;
    list-style: none;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    color: #FFFFFF;
}

@media screen and (max-width: 320px) {
    .intro__list {
        margin-top: 34px;
    }
}
