.cover__subtitle {
    margin: 0;
    align-self: center;
    max-width: 360px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        font-size: calc(14px + (18 - 14)*((100vw - 320px)/(768 - 320)));
        line-height: 1.14;
    }
}
