.place {
    margin: 0 auto;
    margin-top: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 46.747967% 1fr;
    column-gap: 40px;
    row-gap: 48px;
    grid-template-areas:
        "title website"
        "image paragraphs";
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 47.413793% 1fr;
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        margin-top: 76px;
        grid-template-columns: 47.222222% 1fr;
        column-gap: 28px;
    }
}

@media screen and (max-width: 500px) {
    .place {
        margin-top: 50px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "title"
        "website"
        "image"
        "paragraphs";
    }
}