.intro__title {
    margin: 0;
    margin-top: 92px;
    max-width: 690px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .intro__title {
        margin-top: 88px;
        font-size: calc(32px + (54 - 32)*((100vw - 320px)/(768 - 320)));
    }
}

@media screen and (max-width: 320px) {
    .intro__title {
        margin-top: 64px;
    }
}
